global
	log /dev/log	local0
	log /dev/log	local1 notice
	maxconn 4096
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

	listen Openstack-HTTP
			bind {{ vrrp_ip }}:80
	    mode http
	    stats enable
	    stats uri /haproxy?stats
	    balance roundrobin
	    option httpclose
	    option forwardfor
	    server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:80 check
	    server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:80 check

	listen mysql-cluster
	    bind {{ vrrp_ip }}:3306
	    mode tcp
			stats enable
			stats uri /haproxy?stats
	    balance roundrobin
	    server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:3306
	    server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:3306

	listen KeyStone-HTTP-5000
			bind {{ keystone_cluster_domain }}:5000
			mode http
			stats enable
			stats uri /haproxy?stats
			balance roundrobin
			option httpclose
			option forwardfor
			server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:5001 check
			server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:5001 check
	listen KeyStone-HTTP-35357
			bind {{ keystone_cluster_domain }}:35357
			mode http
			stats enable
			stats uri /haproxy?stats
			balance roundrobin
			option httpclose
			option forwardfor
			server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:35358 check
			server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:35358 check
	listen Glance-9292
			bind {{ keystone_cluster_domain }}:9292
			mode http
			stats enable
			stats uri /haproxy?stats
			balance roundrobin
			option httpclose
			option forwardfor
			server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:9293 check
			server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:9293 check
	listen Nova-API-Compute-8774
			bind {{ keystone_cluster_domain }}:8774
			mode http
			stats enable
			stats uri /haproxy?stats
			balance roundrobin
			option httpclose
			option forwardfor
			server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:8773 check
			server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:8773 check
	listen Nova-API-Metadata-8775
			bind {{ keystone_cluster_domain }}:8775
			mode http
			stats enable
			stats uri /haproxy?stats
			balance roundrobin
			option httpclose
			option forwardfor
			server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:8776 check
			server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:8776 check
	listen NOVNC-6080
			bind {{ keystone_cluster_domain }}:6080
			mode http
			stats enable
			stats uri /haproxy?stats
			balance roundrobin
			option httpclose
			option forwardfor
			server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:6081 check
			server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:6081 check
	listen AMQP-5672
			bind {{ keystone_cluster_domain }}:5672
			mode tcp
			stats enable
			stats uri /haproxy?stats
			balance roundrobin
			option httpclose
			option forwardfor
			server {{ groups['controllers'][0] }} {{ groups['controllers'][0] }}:5673 check
			server {{ groups['controllers'][1] }} {{ groups['controllers'][1] }}:5673 check
